HELP.md
target/
!**/src/main/**
!**/src/test/**
./mvn/wrapper
.log
*/*.log
/logs
**/log
start_with_path.sh
*/*start_with_path.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gz

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.xml

.idea/workspace.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### SQL

SQL/hashing-algorithm
SQL/with_clause


src/com/
